.main-layout {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 2rem;
    height: 100vh;
    background-image: url("./380173-blue-desktop-backgrounds-wallpaper.jpg");
}

.auth-card {
    width: 25vw;
    margin-top: 11rem;
    min-width: 300px;
}

.auth-submit {
    width: 100%
}

.button_size_signIn {
    width: 35%;
    margin-right: 5%;
}

.button_size_register {
    width: 55%;
}

.section-content {
    height: 100%;
}

.row_section{
    height: 100%;
    width: 100%;
}

.section-content_right{
    right: 0;
}
.section-content_left{
    left: 0;
}

.section_card-content_height{
    height: 98%;
}

.section_card-content_color{
    background-color: rgb(255, 255, 255, 1);
    border: none;
}

.section-content h1{
    font-family: Roboto, bold, serif;
    font-max-size: 0.2rem;
}

.section-content_card-content-padding{
    padding: 0 !important;
}

.input-field {
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
}

.card-action{
    padding: 16px 10px !important;
}

h4{
    background-color: white;
    text-align: center;
    font-size: 2.5rem;
}

.form_input_size{
    height: 30px !important;
}

.form_row_size{
    margin: 0;
}

.form_row_size h5{
    font-size: 18px;
}

.form_input-size_margin{
    margin: 0 !important;
}

.card-action_button_size{
    width: 32%;
    height: 30px;
}

.section_card-content_width{
    width: 95vw;
}

.card-action_bottom_margin{
    position: absolute !important;
    bottom: 0;
    width: 100%;
}

.section_img_width{
    width: 100%;
}

.row_a_font-size{
    font-size: 0.85em;
}

.table-padding td{
    padding: 0;
}
.table-padding{
    margin-top: 15px;
}

.form_medical {
    background-color: #F8F8F8;
    margin: 40px;
    padding: 20px 20px 100px;
}

.form_medical_buttons {
    margin: 40px;
}

.row_textarea_size{
    resize: none;
    height: 200px;
    overflow-y: auto;
}


