.main-layout {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 5rem;
    height: 100vh;
    /*background-image: url("../../erl-checkup-frontend/asesst/380173-blue-desktop-backgrounds-wallpaper.jpg");*/
}

.auth-card {
    width: 25vw;
    margin-top: 11rem;
    min-width: 300px;
}

.auth-submit {
    width: 100%
}

.button_size_signIn {
    width: 35%;
    margin-right: 5%;
}

.button_size_register {
    width: 55%;
}

.form_medical {
    background-color: #F8F8F8;
    margin: 40px;
    padding: 20px 20px 100px;
}

.form_medical_buttons {
    margin: 40px;
}
